* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	vertical-align: middle;
}
body {
	background-color: #ecba95;
}
a:active {
	color: red;
}

a {
	text-decoration: none;
	font-size: 40px;
	color: black;
}

h3 {
	font-size: 28px;
	margin: 15px;
}

.wrap {

	max-width: 1200px;
	margin: 0 auto;
	background-color: white;
}	
.shoes img {
 	border-radius: 10px; 
 	max-width: 100%;
 	width: 33%;
 }

.shoes img:hover {
	border: 3px red solid;
}
#banner {
	width: 100%;
}
#banner img {
	width: 100%;
}
 #main-menu a {
 	margin-left: 9%;
 }

.shoes {
	margin:10px 5px;
}
#main-menu {
	margin-top: 30px;
	position: relative;
}

#main-menu > a:first-child > img {
	top: -143px;
	left: 20px;
	max-width: 160px;
	border-radius: 50%;
	padding: 4px;
	position: absolute;
}

#chat {
	position: fixed;
	right: 30px;
	bottom: 30px;
	max-width: 10%;
	max-height: 10%;
}

